<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

    <link rel="stylesheet" href="/css/styles.css">

    <title>Trabajo de JavaScript</title>

</head>

<body>

    <header>

        <div class="contenedor">
            <img src="/images/MAINDEV_logoR.jpg" class="logo" alt="maindev">
            <div>
                <h2 class="letra_h2">
                    Developer Company
                </h2>
                <p> Expertos en desarrollo web</p>


            </div>

        </div>

        <nav class="navegador">

            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/views/galeria.html">Galería</a></li>
                <li><a href="/views/presupuesto.html">Presupuesto</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>

        </nav>


    </header>



    <main class="main_mapa">
        <section class="mapa">
            <h2 class="tmapa">Nuestra Ubicación:</h2>
            <div id="map"></div>

        </section>

        <section class="mapa2">
            <h2></h2>

            <P>
                Puedes encontrarnos en: <br><br>
                Carrer 9 d'Octubre N-8, bajo. <br>
                Telefono: 693 693 693. <br>
                Benimodo,Valencia.

            </P>


        </section>



    </main>

    <footer>



        <div class="autor">

            <p>Author: Luis I.C.L<br></p>
            <a href="mailto:L.I.C.L@maindev.com">L.I.C.L@maindev.com</a>

        </div>

        <div class="logotipo">

            <p>Encuentranos en:</p>
            <div>

                <i class="fa-brands fa-facebook "></i>
                <i class="fa-brands fa-instagram "></i>
                <i class="fa-brands fa-linkedin "></i>
                <i class="fa-brands fa-github "></i>

            </div>


        </div>

    </footer>





    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script src="/js/contacto.js"></script>
</body>

</html>